<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "PhoenixStarter" %></title>
    <%= if Mix.env == :dev do %>
      <link rel="stylesheet" href="http://localhost:8000/css/index.css" %>
      <script type="text/javascript" src="http://localhost:8000/js/index.js" %>"></script>
    <% else %>
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/index.css") %>"/>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/index.js") %>"></script>
    <% end %>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
