.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  min-height: 100vh;
}

.root label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.error {
  color: red;
}
