{
  "plugins": [
    "jsx-a11y",
    "react-hooks",
    "prettier"
  ],
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "eol-last": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "multi-line"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "if"
      },
      {
        "blankLine": "always",
        "prev": "if",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "memo",
          "element",
          "key",
          "req",
          "acc",
          "result"
        ]
      }
    ],
    "id-length": [
      "error",
      {
        "exceptions": [
          "_",
          "x",
          "y"
        ]
      }
    ],
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "react/jsx-wrap-multilines": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/static-property-placement": 0,
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "react/jsx-curly-newline": "off",
    "import/extensions": "off",
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "root/"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
